{%extends './layout.html'%} {%block content%}

<div class="block"></div>
<div class="banner blank102">
  <img src="upload/map.jpg" />
  </a>
</div>
<div class="mainbgw mid">
  <div class="contactbg">
    <div class="contact blank3">
      <h1>联系我们</h1>
      <p>电话：17876767335 （客户总监：图图）
        <br /> 电话：17876767335
        <br /> 邮编：510610
        <br /> 地址：广州市天河区黄埔大道西120号高志大厦17楼整层
      </p>
    </div>
  </div>
</div>
<div class="footer mid">
  <div class="copyright mid">
    <span>Add：广州市天河区黄埔大道西120号高志大厦17楼整层； Tel：17876767335 Copyright by 刺月无影
      <a href="http://www.miitbeian.gov.cn/" target="_blank">粤ICP备05144041号</a>
    </span>
    <br />
    <script language="javascript" type="text/javascript" src="http://js.users.51.la/17770617.js"></script>
    <noscript>
      <a href="http://www.51.la/?17770617" target="_blank">
        <img alt="&#x6211;&#x8981;&#x5566;&#x514D;&#x8D39;&#x7EDF;&#x8BA1;" src="http://img.users.51.la/17770617.asp" style="border:none"
        />
      </a>
    </noscript>
  </div>
  <script type="text/javascript" src="//s.union.360.cn/7718.js"></script>
  <script>
    var _hmt = _hmt || [];
    (function () {
      var hm = document.createElement("script");
      hm.src = "https://hm.baidu.com/hm.js?d6e213ea4a00486fd39d55a2a42f3a1d";
      var s = document.getElementsByTagName("script")[0];
      s.parentNode.insertBefore(hm, s);
    })();
  </script>
  <div style="position: absolute; bottom: 8765px;">友情链接：
    <a href="www.xzslst.com">透水地坪</a>
    <a href="www.xzslst.com">透水混凝土胶结剂</a>
    <a href="www.xzslst.com">透水混凝土增强剂</a>
    <a href="www.xzslst.com">透水混凝土胶凝剂</a>
    <a href="www.xzslst.com">透水混凝土罩面剂</a>
    <a href="www.xzslst.com">透水混凝土保护剂</a>
    <a href="www.xzslst.com">透水混凝土厂家</a>
    <a href="www.jsxbbyq.com">江苏变压器</a>
    <a href="www.jsxbbyq.com">徐州变压器</a>
    <a href="www.jsmzdzs.com">徐州装修公司</a>
    <a href="www.shunbaotk.com">履带底盘厂家</a>
  </div>

  {%endblock%}