{%extends './layout.html'%}



{%block content%}

<div class="swiper-container" style=" height:auto;   top: 0;
margin-top: -60px;
margin-bottom: 0px;">
    <div class="swiper-wrapper">
        {% for banner in banners%}
        <div class="swiper-slide">
            <!-- <div class="block"></div> -->
            <div class="banner">
                <img src="{{banner.image.url}}" style="max-height:900px" />
                </a>
            </div>
        </div>
        {%endfor%}


    </div>
    <!-- Add Pagination -->
    <div class="swiper-pagination" style="    width: 80px;"></div>
</div>
<!-- <div class="block"></div> -->
<!-- <div class="banner"> -->
<!-- <img src="http://www.changead.com.cn/upload/banner.jpg" /> -->
<!-- </a> -->
<!-- </div> -->
{%for resource in resources%}
<div class="case" id="videos">
    <a class='youtube' href="{{resource.video.url}}" title="{{resource.name}}">
        <img src="{{resource.thumb.url}}" />
    </a>
</div>
{%endfor%}
<script>
    $(function () {
    $("#videos a").fancybox({
        'width': '75%',
        'height': '75%',
        'autoScale': false,
        'transitionIn': 'none',
        'transitionOut': 'none',
        'type': 'iframe'
    });
    $("a#example1").fancybox({
        'titleShow': false
    });
})
</script>
{%endblock%}
